@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");
/* Ilkin */
.course{
  display: flex;
  align-items: center;
}
.course p{
  font-family: 'Roboto';
  max-width: 662px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-left: 124px;
  line-height: 36px;
}
.course h1{
  font-family: 'Roboto Slab';
  max-width: 365px;
  margin-left: 124px;
  margin-top: 91px;
  font-size: 55px;
  font-weight: 700;
  line-height: 55.76px;
  margin-bottom: 30px;
}
.course .right{
  position: relative;
  margin-left: 190px;
  margin-top: 170px;
}
.course .right .group-26{
  width: 314px;
  height: 315px;
}
.five-section{
  display: flex;
  margin-top: 100px;
  margin-left: 122px;
  margin-bottom: 100px;
}
.five-section .left{
  display: flex;
  position: relative;
}
.five-section .five-sctn{
  margin-top: 50px;
  width: 150px;
}
.five-section .five-sctn p{
  font-family: 'Roboto';
  width: 150px;
  height: 39px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32.5px;
  margin-bottom: 0px;
}
.five-section .five-sctn span{
  font-family: 'Roboto';
  width: 150px;
  height: 39px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}
.five-section .first-text{
  margin-left: 132px;
}
.five-section .two-text{
  margin-left: 95px;
}
.five-section .last-text{
  margin-left: 93px;
}
/* Servet */
.six-section {
  margin-top: 162px;
  margin-bottom: 200px;
}
.six-section .block {
  display: flex;
  margin-left: 121px;
}
.six-section .block div{
  width: 280px;
  margin-right: 122px;
}
.six-section .block div p {
  color: #1E4681;
  font-size: 25px;
  line-height: 32.5px;
  font-weight: 700;
  font-family: 'Roboto';
}
.six-section .block div span {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  font-family: 'Roboto';
}
.six-section .format h1 {
  font-size: 55px;
  line-height: 55.76px;
  font-family: 'Roboto Slab', serif;
  margin-left: 121px;
  margin-bottom: 89px;
}
.learn {
  margin-left: 121px;
}
.learn .learnText {
  margin-bottom: 30px;
}
.learn .learnText h1 {
  font-size: 55px;
  line-height: 55.76px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
.learn .menu ul {
  max-width: 662px;
}
.learn .menu ul li {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.kurs-1616 {
  background: #EFEFEF;
  padding: 5em 0em 3em;
}
.kurs-1616 .kursHead {
  width: 987px;
  height: 93px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
  margin-left: 122px;
  margin-bottom: 34px;
}
.kubik {
  width: 791px;
  height: 451px;
  margin-left: 126px;
  border-radius: 30px;
  padding: 20px;
  padding-left: 45px;
  box-shadow: 1px 1px 20px 0px #00000040;
  background-color: white;
  margin-bottom: 111px;
}
.kurs-text {
  width: 700px;
  height: 203px;
  left: 170px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding-right: 0px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.bottom-kubik{
  display: flex;
  align-items: center;
}
.girl-photo{
  width: 190px;
  height: 169px;
  left: 151px;
}
.ekaterina{
  margin-left: 30px;
}
.ekaterina p{
  width: 353px;
  height: 59px;
  left: 371px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: -5px;
}
.ekaterina img{
  width: 32px;
  height: 31px;
}


/* Resad */
.photos{
    max-width: 100%;
    display: block;
}
.containerr {
    margin: 0 auto;
    width: 80%;
}
.firstdv {
    background: #9dc9c8;
    padding-top: 179px;
    padding-bottom: 185px;
    width: 100%;
}
.firstdv h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}
.firstdv h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 54px;
    margin-bottom: 0;
}
.firstdv_p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 75px;
}
.firstdv_text {
    display: flex;
    width: 65%;
}
.tworep{
    margin-left: 100px;
}
.firstdv_text_block h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 9px;
}
.firstdv_text_block p {
    width: 294px;
    height: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
}
  
.footer {
    background: #000000;
    padding-top: 60px;
    padding-bottom: 48px;
    display: flex;
    width: 100%;
}
.footer_logo {
    width: 70%;
}
.footer_logo_main img {
    width: 115px;
    height: 68px;
    margin-bottom: 30px;
}
.footer_logo_web {
    display: flex;
    width: 220px;
    justify-content: space-between;
}
.footer_logo_web img {
    width: 33px;
    height: 33px;
  }
  .footer_logo p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #ffffff;
    margin-top: 147px;
  }
  .footer_number {
    width: 30%;
  }
  .footer_number_detail {
    display: flex;
  }
  .footer_number_detail:last-child {
    margin-top: 22px;
  }
  .footer_number_detail img {
    margin: auto 22px;
    width: 27px;
    height: 27px;
    margin-left: 0;
  }
  .footer_container {
    display: flex;
  }
  .footer_number_detail p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #ffffff;
  }

  /*Media*/

@media (min-width: 991px) {
  /*Ilkin*/
    .first-section{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 7.77vw;
        height: 4.58vw;
        margin-top: 1.46vw;
        margin-left: 8.40vw;
    }
    .smallText1, .smallText2{
        margin-right: 1.73vw;
    }
    .globe, .clock, .calendar{
        width: 1.527vw;
        height: 1.46vw;
    }
    .second-section{
        display: flex;
        flex-direction: row;
    }
    .second-small-section{
      margin-top: 2.01vw;
      margin-left: 8.40vw;
    }
    .heading{
      width: 43.6vw;
      height: 13.19vw;
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: bold;
      font-size: 5.555vw;
      line-height: 101.38%;
    }
    .ending{
      width: 28.75vw;
      height: 4.3vw;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 1.39vw;
      line-height: 150%;
    }
    .group-25{
      margin-left: 9.72vw;
      width: 21.11vw;
      height: 24.72vw;
      margin-top: 0.28vw;
    }
    .three-section{
      display: flex;
      flex-direction: column;
      width: 33.585vw;
      height: 13.9vw;
      margin-left: 28.429vw;
      margin-top: 13.67vw;
      background: #1E4681;
      border-radius: 5px;
    }
    .blue-text{
      margin-top: 1.337vw;
      margin-bottom: 4.7vw;
      margin-left: 1.807vw;
      margin-right: 1.876vw;
      background-color: #1E4681;
      width: 29.9vw;
      height: 7.847vw;
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: normal;
      font-size: 1.736vw;
      line-height: 130%;
      color: #FFFFFF;
    }
    .andrey{
      margin-left: 11.1vw;
      width: 19.479vw;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 1.39vw;
      line-height: 130%;
      text-align: right;
      color: #FFFFFF;
    }
    .smallText1, .smallText2, .smallText3{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 1.39vw;
      line-height: 115%;
      width: 11.1vw;
      height: 2.22vw;
    }
    .small{
      display: flex;
      flex-direction: row;
      margin-left: 8.40vw;
      margin-top: 6.94vw;
    }
    .course{
        display: flex;
        align-items: center;
    }
    .course p{
        font-family: 'Roboto';
        max-width: 46vw;
        font-size: 1.6vw;
        line-height: 2.5vw;
        font-weight: 400;
        margin-left: 8.6vw;
      }
      .course h1 {
        font-family: 'Roboto Slab';
        max-width: 25.3vw;
        margin-left: 8.6vw;
        margin-top: 6.3vw;
        font-size: 3.8vw;
        font-weight: 700;
        line-height: 3.8vw;
        margin-bottom: 2vw;
      }
      .course .right {
        margin-left: 13vw;
        margin-top: 11.8vw;
        position: relative;
      }
      .course .right .group-26 {
        width: 21.8vw;
        height: 21.87vw;
      }
      .five-section{
        display: flex;
        margin-top: 7vw;
        margin-left: 8.4vw;
        margin-bottom: 7vw;
      }
      .five-section .left{
        display: flex;
        position: relative;
      }
      .five-section .right{
        display: flex;
        position: relative;
      }
      .five-sctn{
        margin-top: 6.47vw;
        width: 10.4vw;
      }
      .five-section .five-sctn p{
        font-family: 'Roboto', sans-serif;
        width: 10.4vw;
        height: 2.7vw;
        font-weight: 700;
        font-size: 1.7vw;
        line-height: 2.2vw;
        margin-bottom: 0vw;
    }
    .five-section .five-sctn span{
        font-family: 'Roboto';
        display: block;
        width: 10.4vw;
        height: 2.7vw;
        font-size: 1.2vw;
        line-height: 1.6vw;
        font-weight: 400;
    }
    .five-section .first-text{
        margin-left: 9vw;
    }
    .five-section .two-text{
        margin-left: 6.5vw;
    }
    .five-section .last-text{
        margin-left: 6.4vw;
    }

/*Servet*/
.six-section{
  margin-top: 11vw;
  margin-bottom: 14vw;
}
.six-section .block {
  margin-left: 8.4vw;
  display: flex;
}
.six-section .block div {
  width: 19.4vw;
  margin-right: 8.5vw;
}
.six-section .block div p {
  color: #1E4681;
  font-size: 2vw;
  line-height: 2.3vw;
  font-weight: 700;
  font-family: 'Roboto';
}
.six-section .block div span {
  font-size: 1.3vw;
  line-height: 1.6vw;
  font-weight: 400;
  font-family: 'Roboto';
}
.six-section .format h1 {
  font-size: 3.8vw;
  line-height: 3.9vw;
  font-family: 'Roboto Slab';
  margin-left: 8.4vw;
  margin-bottom: 6.2vw;
}
.learn {
  margin-left: 8.4vw;
}
.learn .learnHead {
  margin-bottom: 2vw;
}
.learn .learnHead h1 {
  font-size: 3.8vw;
  line-height: 3.87vw;
  font-weight: 700;
  font-family: 'Roboto Slab';
}
.learn .menu ul {
  max-width: 46vw;
  padding-left: 0vw;
  margin-left: 2vw;
}
.learn .menu ul li {
  font-size: 1.6vw;
  line-height: 2.5vw;
  font-weight: 400;
  font-family: 'Roboto';
}
.programme-course {
  margin-top: 13.88vw;
  margin-bottom: 3.47vw;
}
.programme-course .head {
  margin-left: 8.4vw;
  margin-bottom: 6.94vw;
}
.programme-course .head h1 {
  font-size: 3.819vw;
  line-height: 3.87vw;
  font-weight: 700;
  font-family: 'Roboto Slab';
}
.programme-course .program {
  margin-left: 3.944vw;
  display: flex;
  flex-wrap: wrap;
}
.programme-course .program .part {
  border-radius: 30%;
  width: 27.70vw;
  margin: 0 1.38vw;
}
.programme-course .program .part .particle {
  border-radius: 2.083vw;
  margin-bottom: 2.083vw;
}
.programme-course .program .part .top {
  box-shadow: 0.0694vw 0.0694vw 1.04vw 0px #00000040;
  border-radius: 2.083vw;
}
.programme-course .program .part .bottom {
  padding: 0.694vw 1.3888vw;
}
.programme-course .program .part .bottom h3 {
  font-size: 2.083vw;
  line-height: 2.70vw;
  font-weight: 700;
  font-family: 'Roboto';
  margin-bottom: 2.083vw;
}
.programme-course img {
  width: 27.708vw;
  height: 11.11vw;
}
.programme-course .program .part .bottom span {
  font-weight: 400;
  font-size: 1.736vw;
  line-height: 2.256vw;
  font-family: 'Roboto Slab';
}
.programme-course .program .part .bottom .eight-h {
  margin-bottom: 0.694vw;
  line-height: 2.02vw;
}
.kurs-1616{
  padding: 5em 0em 3em;
  background: #EFEFEF;
}
.kurs-1616 .kursHead {
  width: 68.5vw;
  height: 6.4vw;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 3.8vw;
  line-height: 101.38%;
  color: #000000;
  margin-left: 8.4vw;
}
.kurs-1616 .kubik {
  width: 55vw;
  height: 31vw;
  margin-left: 8.7vw;
  border-radius: 2vw;
  padding: 1.3vw;
  padding-left: 2.7vw;
  box-shadow: 1px 1px 20px 0px #00000040;
  background-color: white;
  margin-bottom: 7vw;
}
.kurs-1616 .kubik .kurs-text {
  width: 48vw;
  height: 14vw;
  left: 11.8vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 150%;
  color: #000000;
  padding-right: 0vw;
  padding-top: 1.3vw;
  margin-bottom: 1.04vw;
}
.kurs-1616 .kubik .bottom-kubik {
  display: flex;
  align-items: center;
}
.kurs-1616 .kubik .bottom-kubik .girl-photo {
  width: 13.19vw;
  height: 11.7vw;
  left: 10.4vw;
}
.kurs-1616 .kubik .bottom-kubik .girl-photo img {
  width: 12.5vw;
  height: 11vw;
}
.kurs-1616 .kubik .bottom-kubik .ekaterina {
  margin-left: 2vw;
}
.kurs-1616 .kubik .bottom-kubik .ekaterina p {
  width: 24.5vw;
  height: 4vw;
  left: 25.7vw;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: -0.3vw;
}
.kurs-1616 .kubik .bottom-kubik .ekaterina img {
  width: 2.2vw;
  height: 2.1vw;
}
    
}
@media (min-width: 320px) and (max-width: 991px) {
    /*Ilkin mobile*/




    /*Servet mobile*/
    .six-section{
      margin-top: 20vw;
      margin-bottom: 20vw;
    }
    .six-section .format h1{
      font-family: 'Roboto Slab';
      font-size: 6.9vw;
      line-height: 7vw;
      margin-left: 9.6vw;
      margin-bottom: 7vw;
    }
    .six-section .block{
      
    }








}
/* medialar (Rashad) */
@media (max-width: 1279px) {
    .firstdv {
      padding-top: 103px;
      padding-bottom: 115px;
    }
    .firstdv h1 {
      font-size: 32px;
      line-height: 101.38%;
    }
    .firstdv h5 {
      font-size: 14px;
      margin-top: 31px;
    }
    .firstdv_p {
      font-size: 46px;
      margin-bottom: 47px;
    }
    .firstdv_text {
      width: 50%;
    }
    .firstdv_text_block h3 {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .firstdv_text_block p {
      width: 170.28px;
      height: 40.54px;
      font-size: 10px;
    }
    .footer {
      padding-top: 29px;
      padding-bottom: 25px;
    }
    .footer_logo {
      width: 80%;
    }
    .footer_logo_main img {
      width: 66.6px;
      height: 39.38px;
      margin-bottom: 17px;
    }
    .footer_logo_web {
      width: 120px;
    }
    .footer_logo_web img {
      width: 19.11px;
      height: 19.11px;
    }
    .footer_logo p {
      font-size: 10px;
      margin-top: 84px;
    }
    .footer_number {
      width: 20%;
    }
    .footer_number_detail:last-child {
      margin-top: 14px;
    }
    .footer_number_detail img {
      width: 15.64px;
      height: 15.64px;
      margin-right: 12px;
    }
    .footer_number_detail p {
      font-size: 14px;
    }
  }
  @media (max-width: 991px) {
    .firstdv {
      padding-top: 62px;
      padding-bottom: 63px;
    }
    .firstdv h1 {
      font-size: 26px;
    }
    .firstdv h5 {
      font-size: 12px;
      margin-top: 31px;
    }
    .firstdv_p {
      font-size: 37px;
      margin-bottom: 35px;
    }
    .firstdv_text {
      width: 100%;
    }
    .firstdv_text_block h3 {
      font-size: 12px;
      margin-bottom: 4px;
    }
    .firstdv_text_block p {
      width: 138px;
      height: 47px;
      font-size: 10px;
    }
    .footer {
      padding-top: 23px;
      padding-bottom: 10px;
    }
    .footer_container {
      position: relative;
      display: block;
    }
    .footer_logo {
      width: 100%;
    }
    .footer_logo_main img {
      width: 53.59px;
      height: 31.69px;
      margin-bottom: 14px;
    }
    .footer_logo_web {
      width: 100px;
    }
    .footer_logo_web img {
      width: 15.38px;
      height: 15.38px;
    }
    .footer_logo p {
      font-size: 10px;
      margin-top: 138px;
    }
    .footer_number {
      position: absolute;
      bottom: 78px;
      width: 100%;
    }
    .footer_number_detail:last-child {
      margin-top: 14px;
    }
    .footer_number_detail img {
      width: 12.58px;
      height: 12.58px;
      margin-right: 10px;
    }
    .footer_number_detail p {
      font-size: 12px;
    }
  }
  @media  (min-width:992px) and (max-width:1278px) {
    .tworep{
      margin-left:70px;
    }
  }
  @media  (max-width:500px) {
    .tworep{
      margin-left:30px;
    }
}